.welcome-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-image: url('/images/fondo.png');
  background-size: cover;
  padding: 50px 0;
  font-size: 70px;
  color: white;
  font-weight: 500;
}

.welcome-box img {
  width: 30vw;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 30px;
}

.book-item {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  overflow-x: hidden;
  padding: 10px;
  width: 260px;
  &:hover {
    opacity: 0.5;
  }
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item-footer {
  margin: auto; 
}
.title-book {
  font-weight: 400;
}
.author-book {
  font-weight: 300;

}

@media screen and (max-width: 950px) {
  .book-item {
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .welcome-box {
    font-size: 60px;
  }
  .book-item {
    width: 200px;
   }
   .item-footer {
    font-size: 16px;
   }
}
@media screen and (max-width: 700px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .book-item {
    width: 230px;
   }
}

@media screen and (max-width: 600px) {
  .welcome-box {
    font-size: 35px;
  }
  .welcome-box img {
    width: 20vw;
  }
  .book-item {
    width: 200px;
   }
   .item-footer {
    font-size: 14px;
   }
}

@media screen and (max-width: 500px) {
  .book-item {
    width: 150px;
   }
   .item-footer {
    font-size: 12px;
   }
}

@media screen and (max-width: 400px) {
  .book-item {
    width: 125px;
   }
 
}