.search-container {
  margin: 30px auto;
}

.search-container h1{
  color: white;
}
.search-container input {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid grey;
  outline: none;
  text-indent: 15px;
  font-size: 18px;
  &:focus {
    border: 2px solid rgb(0, 0, 0);
  }
}

@media screen and (max-width:770px){
  .search-container input {
    width: 350px;
    height: 40px;
    font-size: 16px;
  }
  .search-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    margin: 40px auto;
  }
  .search-container input {
    width: 300px;
    height: 35px;
    font-size: 14px;
  }
  .search-container h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}